.container {
  @apply flex
  w-full
  h-full
  bg-slate-200
  p-5
  border-2
  rounded-md
    border-gray-200;

  margin: 0px auto;
  max-width: 800px;

  & > ul {
    @apply flex flex-col gap-5;

    & > li {
      @apply p-5
      border-2
      flex
      flex-col
      gap-2
      rounded-lg
      bg-slate-400
        border-cyan-900;

      & > img {
        @apply border-gray-500
        border-2
        rounded-lg;
      }

      & > p {
        font-size: 22px;
      }

      & > h3 {
        @apply text-2xl;
      }

      & > a {
        @apply p-1
        text-cyan-400
        w-max
        border-2
        rounded-lg
        bg-slate-700
          border-gray-200;
      }
    }
  }
}
