.container {
  @apply flex
  w-full
  h-full
  bg-slate-200
  p-5
  border-2
  flex-col
  rounded-md
    border-gray-200;

  margin: 0px auto;
  max-width: 800px;

  & > input {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    border: 2px solid rgb(143, 143, 143);
    font-size: 20px;
    max-width: 400px;
    margin: 0px auto;
    margin-bottom: 15px;
  }

  & p {
    margin: 0px auto;
    font-size: 22px;
  }

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > li {
      @apply bg-gray-400;
      border-radius: 10px;
      padding: 5px 10px;
      display: flex;
      font-size: 22px;
      & > p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 40%;
        width: 100%;
      }

      & > p:nth-child(1) {
        max-width: 60%;
        width: 100%;
      }
    }
  }
}
